<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.boxofficepro.fr/wp-content/uploads/sites/2/2021/06/BESTIMAGE_00525402_000012-600x400.jpeg);">
  <div class="container">
    <h1>Welcome to my watch list!</h1>
    <p>Browse the categories below...</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.image.key if list.image.attached? %>)">
      <%= link_to list.name, list_path(list), class:"linkto" %>
    </div>
  <% end %>
</div>

<%# # Avant Cloudinary %>
<%#= list.image_url%>

<%# Avec Cloudinary %>
<%# Insérer une image %>
<%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
<%# Insérer une image de background (url) %>
<%#= cl_image_path @article.photo.key, height: 300, crop: :fill %>

<%# list.image.attached? #=> true/false %>
